@font-face {
  font-family: 'Mottona';
  src: url('./fonts/mottona.otf') format("truetype");
}

@font-face {
  font-family: 'Midnight';
  src: url('./fonts/midnight.ttf') format("truetype");
}

@font-face {
  font-family: 'Storybook';
  src: url('./fonts/storybook.ttf') format("truetype");
}

@font-face {
  font-family: 'Awesome';
  src: url('./fonts/awesome.ttf') format("truetype");
}

@font-face {
  font-family: 'Luna';
  src: url('./fonts/Luna.ttf') format("truetype");
}

@font-face {
  font-family: 'Bromello';
  src: url('./fonts/bromello.otf') format("truetype");
}

@font-face {
  font-family: 'Good Vibes';
  src: url('./fonts/goodvibes.ttf') format("truetype");
}

@font-face {
  font-family: 'Shorelines Script Bold';
  src: url('./fonts/shorelines.otf') format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Awesome';
  background-color: snow;
  background: url('./images/seamless_paper_texture.png');
}

.nav-links {
  text-decoration: none;
  color: inherit;
}

#nav-container {
  border: 10px solid snow;
  padding: 20px;
  margin-bottom: 20px;
  background: snow;
  border-radius: 10px;
}

.carousel-item img {
  border-radius: 10px;
}

.carousel {
  background: snow;
  border-radius: 5px;
}

.details ul li {
  font-size: 20px; 
  letter-spacing: 3px;  
  padding: 5px;
  font-family: 'Awesome';
  margin-top: 10px;
}

.main p, .details p {
  font-size: 20px;
}

.box-img {
  border-radius: 10px;
}

.hoverable {
  border-radius: 5px;
  padding: 10px;
}

.btn {
  background-color: #3e3e3e;
}

p {
  font-family: 'Awesome', serif;
}

.register-links p, #photos p {
  font-size: 20px;
  text-align: center;
}

#rsvp {
  padding-bottom: 30px;
}

#proposalPic {
  margin-top: 150px;
}


.details-li .bold {
  font-weight: 900;
  padding: 5px;
}

.comments, .guests {
  margin-top: 15px;
  padding: 15px;
}

.comment-form {
  border: 3px solid #3e3e3e;
  padding: 25px;
  border-radius: 5px;
  margin-top: 10px;
}

.comment .date, .guests .date {
  color: #3e3e3e;
  font-weight: bold;
  font-size: 16px;
}

.comment h5, .guests h5 {
  color: #01b0f0;
}

.comment p, .guests p {
  font-size: 16px;
}

.guests .coming {
  color: #01b0f0;
  text-transform: uppercase
}

#registry h1, #photos h1, #rsvp h1 {
  text-align: center;
}

#registry, #comments {
  padding-bottom: 50px;
}

@media screen and (max-width:900px) {
  .map {
    width: 700px;
    height: 500px;
  }
}

@media screen and (max-width:740px) {
  .map {
    width: 600px;
  }
  .nav-links{
    font-size: 15px;
    padding: 0px;
    margin: -5px;
  }
  #proposalPic {
    margin-top: 0px;
  }
}

@media screen and (max-width:500px) {
  .colin-and-kelsey a{
    font-size: 40px;
  }
  .nav-links-ul{
    padding: 0;
  }

  .map {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width:400px) {
  .nav-links{
    font-size: 12px;
  }

  .map {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width:360px) {
  .nav-links{
    font-size: 12px;
    margin: -10px;
    padding: -5px;
  }
}