body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: snow;
  background: url('./images/subtle_white_feathers.png');
}

.nav-links {
  text-decoration: none;
  color: inherit;
}

#nav-container {
  border: 10px solid snow;
  padding: 20px;
  margin-bottom: 20px;
}

.carousel-item img {
  border-radius: 10px;
}

.carousel {
 box-shadow: 0 5px 5px 5px slategray;
}

.details ul li {
  font-size: 20px; 
  letter-spacing: 3px;  
  padding: 5px;
}

.main p {
  font-size: 20px;
}

.box-img {
  border-radius: 10px;
}

.hoverable {
  border-radius: 5px;
  padding: 10px;
}

.btn {
  background-color: #3e3e3e;
}

p{
  font-family: 'Noto Serif', serif;
}

@media screen and (max-width:900px) {
  .map {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width:740px) {
  .map {
    width: 300px;
    height: 350px;
  }
}

@media screen and (max-width:500px) {
  .colin-and-kelsey a{
    font-size: 40px;
  }
  .nav-links{
    font-size: 14px;
    padding: 2px;
    margin: 2px;
  }
}

@media screen and (max-width:400px) {
  .nav-links{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
}